{% extends '::base.html.twig' %}

{% block body -%}
    
    <h1>Post list</h1>

    {% for entity in entities %}
            <div class="blog-post">
                <a href="{{ path('_show', { 'id': entity.id }) }}">
                    <h2 class="blog-post-title">
                        {{ entity.title }}
                    </h2>
                </a>

                <p class="blog-post-meta">
                    <span class="glyphicon glyphicon-time"></span>
                    {% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}
                    {% if entity.published == false %}
                        <span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> Unpublished</span>
                    {% endif %}
                    <a class="btn btn-xs btn-primary" href="{{ path('_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-edit"></span>Update</a>
                </p>
                <p>{{ entity.description }}</p>
            </div>

    {% endfor %}
    {#
    <nav>
        <ul class="pager">   
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </nav> #}
{% endblock %}