{% extends '::base.html.twig' %}

{% block body -%}

    <h1>{{ entity.title }}</h1>
    <p class="text-disabled">
        {# TO-DO Implement code in below within the controller, not in a view #}
        {% if entity.updated|date('Y-m-d H:i:s') > entity.created|date('Y-m-d H:i:s') %}
            Last updated on 
            <span class="glyphicon glyphicon-time"></span> {{ entity.updated|date('Y-m-d H:i:s') }}
        {% else %}
            <span class="glyphicon glyphicon-time"></span> {{ entity.created|date('Y-m-d H:i:s') }}
        {% endif %}
    </p>
    <p>{{ entity.description }}</p>
    <p>{{ entity.text }}</p>
        <a href="{{ path('') }}">
            Back to the list
        </a>
        <a href="{{ path('_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    
    {{ form(delete_form) }}
{% endblock %}
